obj
**/bin/*
deploy
deploy/*
_ReSharper.*
*.*.user
*.suo
*.cache
Thumbs.db
*.cache
.svn
*.sln.docstates
*.rdl.data
**/TempFiles/
*.dbmdl
src/NDependOut
**/.vs/

src/packages/*
**/nsb_log*
*.ReadyRoll.jfm
*.jfm
